@charset "utf-8";
html{color:#000; background:#FFF;}
/*body, button, input, select, textarea {  for ie
    font: 12px/18px Arial, Verdana, Microsoft YaHei;
}
h1 {font-size: 18px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
h4, h5, h6 {font-size: 100%;}
*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,
th,td,select,option,fieldset,blockquote,figure{margin:0;padding:0}
em,i{font-style:normal}
li{list-style:none;vertical-align:top}
a{text-decoration:none;color: black;border:0}
a:hover{text-decoration:underline;}
img{border:0;}/*vertical-align:top;*/
table{border-collapse:collapse;border-spacing:0;}
textarea{resize:none;overflow:auto;outline:none;}
input{outline:none;}
/*-----清浮动-------------*/
.clearfix{zoom:1}
.clearfix:after{content:'';display:table;clear:both}
/*------左浮动 右浮动------------*/
.fl{float:left}
.fr{float:right}
.cl{clear:left}
.cr{clear:right}
/*------- 子元素有margin-top ----------*/
.cleartm:before{content:'';display:table;}

q:before,q:after{content: '';content: none;}
sub{
    vertical-align: text-bottom;
}